[Unit]
Description=Run BLE scanner script
After=rfkill-unblockall.service bluetooth.target

[Service]
#Type=fork
User=root
Group=root
ExecStart=/root/ble/c-receive/daemon-load.sh

[Install]
WantedBy=multi-user.target
