[Unit]
Description=Run BLE scanner script
After=rfkill-unblockall.service bluetooth.target

[Service]
#Type=fork
User=root
Group=root
ExecStart=/usr/bin/python2 /root/ble/c-receive/main.py

[Install]
WantedBy=multi-user.target
