[Unit]
Description=Run BLE scanner script
After=rfkill-unblockall.service bluetooth.target

[Service]
Type=forking
User=root
Group=root
PIDFile=/var/run/ibeacon-scan-upload.pid
ExecStart=/root/ble/r-daemon-script.sh
TimeoutStartSec=10
#RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
